<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c79">  <td>18/01/29 16:15:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenGoogle.openChrome()[pri:0, instance:OpenGoogle@42d80b78]">openChrome</td> 
  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>18/01/29 16:15:43</td>   <td>4206</td> <td>&nbsp;</td><td title="&lt;&lt;OpenGoogle.packUp()[pri:0, instance:OpenGoogle@42d80b78]">&lt;&lt;packUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
</table>
